
li{
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    font-size: 14px;
}

li label{
    float: left;
    cursor: pointer;
}
li label span{
    font: 16px PingFang SC;
}

li button{
    float: right;
    margin-top: 3px;
    margin-right: 6px;
    font-size: 14px;
}